body{
  background-color: pink;
  margin:0;
  padding: 0;
}
/* animated wallpaper */
.wrapper{
  /* position: absolute; */

  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0, 212, 255, 1) 100%); 

  font-family: 'Raleway', sans-serif;
  /* padding: 3em 2em; */
  font-size: 18px;
  color: #aaa;
}

.content{
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin: 0;
} */
.box div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}
.box div:nth-child(1){
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2){
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3){
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4){
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5){
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6){
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7){
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8){
  top: 32%;
  left:25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9){
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10){
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}


.brand{
  float: left !important;
  font-size: x-large !important;
}
.links{
  font-size: large !important;
}
#navbar{
  /* background-color: transparent; */

  background-color: rgba(0,0,0,0.3);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: sticky;
  }
  li {
    padding-right: 1%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }

  li a:active{
    background-color: palegreen;
  }
  #welcome-section{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .white{
    color: white;
  }
  #contact{
    display: flex;
    height: 50vh;
    padding: 20px;
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0, 212, 255, 1) 100%); 
    color: white;
    /* justify-content: center;
    align-items: center; */
  }
  #publications{
      display: flex;
      height: 100vh;
      padding: 20px;
      background-color: white;
      color: black;
  }
  #profiles{
    background-color:rgba(9,9,121,1); 
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cont{
    display: flex;
    flex-direction: row;
  }
  .p1{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .p2{
    flex:2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .text{
    padding: 20px;
  }
  .t{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #skills{
    height: 100vh;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* padding: 40px; */
    color: black;
        /* justify-content: flex-start;
    align-items: flex-start; */
  }
  .row{
    display: flex;
    flex-direction: row
  }
  .web{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  }
  .db{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .prog{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #projects{
    height: 120vh;
    background-color: rgba(0, 212, 255, 1); 
    display: flex;
    padding-top: 50px;
    padding: 40px;
    color: black;
    justify-content: center;
    align-items: center;
  }
  .card-img-top{
    height: 100%;
    width: 100;
  }
  .card-text-description{
    font-size: smaller;
  }
   @media screen and (min-width: 600px) {
    #navbar li a {
      font-size: 20px;
      padding: 30px;
    }
    .card-columns {
      column-count: 3;
    }
    #welcome-section{
      flex-direction: column;
    }
    #welcome-section .text
    {
      align-items: center;
      justify-content: center;
      display: flex;
      flex: 1;
    }
    #welcome-section .image
    {
      align-items: center;
      justify-content: center;
      display: flex;
      flex: 1;  
      border-radius: 100%;
    }
    #profile-link{
        margin: 4%;
    }
  }
  
  @media screen and (max-width: 600px) {
   #navbar li a{
      font-size: 20px;
      padding: 20px 10px;
    }
    #welcome-section{
      flex-direction: column;
    }
    #welcome-section .text
    {
      flex: 1;
      order: 2;
    }
    #welcome-section .image
    {
      flex: 1;  
      order: 1;
    }
    #profile-link{
      height: 45%;
  }
    /* phones */
    .card-columns {
      column-count: 1;
    }
    #projects{
      margin-top: 50px;
    }
  }
  
 