body{
  background-color: pink;
  margin:0;

}
#navbar{
  background-color: #1E76B9;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; 
    position: sticky;
  }
  
  li {
    float: right;
    padding-right: 5%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: yellowgreen;
  }

  #welcome-section{
    margin-top:0;
    display: flex;
    height: 100vh;
  }
  #contact{
    display: flex;
    height: 50vh;
    padding: 20px;
    background-color: #004e89;
    color: white;
    justify-content: center;
    align-items: center;
  }
  #profiles{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    height: 50vh;
    background-color: #efefd0;
  
  }
  
  .text{
    padding: 20px;
  }
  .t{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
   @media screen and (min-width: 600px) {
    #navbar li a {
      font-size: 20px;
      padding: 30px;
    }
    #welcome-section{
      flex-direction: row;
    }
    #welcome-section .text
    {
      align-items: center;
      justify-content: center;
      display: flex;
      flex: 1;
    }
    #welcome-section .image
    {
      align-items: center;
      justify-content: center;
      display: flex;
      flex: 1;  
    }
    #profile-link{
        margin: 4%;
    }
  }
  
  @media screen and (max-width: 600px) {
   #navbar li a{
      font-size: 20px;
      padding: 20px 10px;
    }
    #welcome-section{
      flex-direction: column;
    }
    #welcome-section .text
    {
      flex: 1;
      order: 2;
    }
    #welcome-section .image
    {
      flex: 1;  
      order: 1;
    }
  }
  